
.banner {
  background-image: url("/img/soga.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.contact-us {
  width: 100vw;
  height: 100vh;
}
.pictures {
  width: 100vw;
  height: 100vh;
}